* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #756976, #777347);
}

.wrapper {
  width: 1170px;
  margin: 0 auto 0px;
  padding-top: 10px;
}

h1 {
  font-size: 32px;
  color: #000000;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
h1 img {
  width: 50px;
}

button {
  background: #9404a1;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: azure;
  display: flex;
  align-items: center;
  cursor: pointer;

}

button img {
  width: 20px;
}

.list-notes {
  width: 345px;
  min-height: 120px;
  border-radius: 5px;
  outline: none;
  background-color: aliceblue;
  padding: 10px;
  margin: 10px 0px;
  position: relative;
float: left;
margin-right: 10px;
}


.delete-icon {
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

